*{margin:0;
padding:0;
}

#box1{
width:1000px;
height:100px;
position:fixed;
margin-left:200px;
z-index:1;
background:#79face;
}

#box2{
width:1000px;
height:1900px;
margin-left:200px;
	
}

#logobox1{
width:300px;
height:100px;
float:left;		
}
#logo1{
margin-left:40px;
}
#contentbox{
width:700px;
height:100px;
float:left;	
}
#contentbox1{
width:700px;
height:30px;
float:left;	
}
#contentbox2{
width:700px;
height:30px;
float:left;
text-align:center;		
}
#contentbox3{
width:700px;
height:30px;
float:left;		
}

#aboutzoo{
width:115px;
height:30px;
float:left;	
text-align:center;	
}
#guideforguest{
width:115px;
height:30px;
float:left;	
text-align:center;	
}
#shop{
width:115px;
height:30px;
float:left;
text-align:center;		
}
.contact{
width:115px;
height:30px;
float:left;
text-align:center;
}
.contact {
    position: relative;
    display: inline-block;
}

.dropdown-contenta {
    display: none;
    position: absolute;
	top:20px;
    background-color: #25fa70;
    min-width: 130px;
    z-index: 1;
}

.contact:hover .dropdown-contenta{
    display: block;
}

.dropdown-contentb{
    display: none;
    position: absolute;
	top:40px;
    background-color: #25fa70;
    min-width: 130px;
    z-index: 1;
}

.contact:hover .dropdown-contentb{
    display: block;
}

.dropdown-contentc{
    display: none;
    position: absolute;
	top:60px;
    background-color: #25fa70;
    min-width: 130px;
    z-index: 1;
}

.contact:hover .dropdown-contentc{
    display: block;
}


#donate{
width:115px;
height:30px;
float:left;	
text-align:center;	
}
#search{
width:115px;
height:30px;
float:left;
text-align:center;		
}

#link{
	text-decoration:none;
}

#link:hover{
	color:#33c617;
}


#planyourvisit{
width:175px;
height:30px;
float:left;	
text-align:center;	
}

#animals{
width:175px;
height:30px;
float:left;
text-align:center;		
}

#education{
width:175px;
height:30px;
float:left;
text-align:center;		
}

#conservation{
width:175px;
height:30px;
float:left;	
text-align:center;	
}

#gallerybox{
width:1000px;
height:500px;
float:left;	
margin-top:100px;
}
.slide{
	width: 710px;
	height: 500px;
	float:left;	

}

}.mySlides{
	width: 710px;
	height: 500px;
}
.buttonleft{
	width: 50px;
	height: 50px;
	top: 280px;
	position: absolute;

}
.buttonright{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 280px;
	margin-left:660px;
}

.imagegallery{
width:710px;
height:500px;
float:left;
background:red;	

}



#gallerycontent{
width:210px;
height:420px;
margin-left:20px;
float:left;	
margin-top:10px;
padding:20px;
background:#40f72e;	
}
#readmore{
width:150px;
height:30px;
margin:20px;
margin-top:100px;
background:#f1901d;
}
#readmore:hover{background:#43bbe2;}
#morecontent{
width:1000px;
height:200px;
float:left;
top:520px;
}

#donatenow{
width:200px;
height:200px;
float:left;
text-align:center;
}

#one{
font-size:20px;
}	

#donateimage{
width:200px;
height:102px;
float:left;
margin-top:20px;
background:url(image/im50.png);
}

#joinnow{
width:200px;
height:200px;
float:left;
text-align:center;
}
#joinnowimage{
width:200px;
height:102px;
float:left;
margin-top:20px;
background:url(image/im51.png);
}
#news{
width:200px;
height:200px;
float:left;
text-align:center;
}
#newsimage{
width:200px;
height:97px;
float:left;
margin-top:20px;
background:url(image/im55.png);
}
#adopt{
width:200px;
height:200px;
float:left;
text-align:center;
}

#adoptimage{
width:200px;
height:102px;
float:left;
margin-top:20px;
background:url(image/im53.png);
}
#shoplist{
width:200px;
height:200px;
float:left;
text-align:center;
}

#shoplistimage{
width:200px;
height:102px;
float:left;
margin-top:20px;
background:url(image/im54.png);
}
#zoobox{
width:1000px;
height:400px;
float:left;
top:760px;
}
#dayatzoo{
width:1000px;
height:30px;
font-weight:bold;
color:#dfac3f;
text-align:center;
font-size:30px;

}
#imgbox{
width:1000px;
height:370px;
}

#newarrivals{
width:200px;
height:110px;
background:url(image/im25.png);
border-radius:100px;
text-align:center;
font-size:20px;
color:white;
font-family:Impact;
margin-left:25px;
margin-top:85px;
float:left;
padding-top:90px;
}

#newarrivals:hover{background:#33c617;
opacity:0.2}

#exhibits{
width:200px;
height:110px;
float:left;
background:url(image/im26.png);
border-radius:100px;
text-align:center;
font-size:20px;
color:white;
font-family:Impact;
margin-left:25px;
margin-top:85px;
padding-top:90px;
}
#exhibits:hover{background:#33c617;
opacity:0.2}

#animalbox{
width:200px;
height:110px;
float:left;
background:url(image/im27.png);
border-radius:100px;
text-align:center;
font-size:20px;
color:white;
font-family:Impact;
margin-left:25px;
margin-top:85px;
padding-top:90px;
}
#animalbox:hover{background:#33c617;
opacity:0.2}

#dailyactivities{
width:200px;
height:110px;
float:left;
background:url(image/im28.png);
border-radius:100px;
text-align:center;
font-size:20px;
color:white;
font-family:Impact;
margin-left:25px;
margin-top:85px;
padding-top:90px;
}

#dailyactivities:hover{background:#33c617;
opacity:0.2}

#zooeventbox{
width:1000px;
height:400px;
float:left;
top:1200px;
}

#zooevent{
width:990px;
height:30px;
font-weight:bold;
color:#dfac3f;
text-align:center;
font-size:30px;
padding-bottom:10px;
}
#imgbox1{
width:1000px;
height:400px;
}
#aa{
width:300px;
height:390px;
float:left;
margin-left:20px;
}
#imga{
width:300px;
height:200px;
background:url(image/im30.png);
}
#imga:hover{background:#33c617;
opacity:0.2}

#imgacontent{
width:300px;
height:195px;
}

#imgwarofworld{
width:300px;
height:35px;
}
#contenta{
width:260px;
height:125px;
padding:20px;
}
#ab{
width:300px;
height:390px;
float:left;
margin-left:20px;
}
#imgb{
width:300px;
height:200px;
background:url(image/im31.png);
}

#imgb:hover{background:#33c617;
opacity:0.2}

#imgbcontent{
width:300px;
height:195px;
}
#contentb{
width:260px;
height:125px;
padding:20px;
}

#imgfitness{
width:300px;
height:35px;
}
#ac{
width:300px;
height:390px;
float:left;
margin-left:20px;
}
#imgc{
width:300px;
height:200px;
background:url(image/im32.png);
}
#imgc:hover{background:#33c617;
opacity:0.2}
#imgccontent{
width:300px;
height:195px;
}
#imgadultnightout{
width:300px;
height:35px;
}
#contentc{
width:260px;
height:125px;
padding:20px;
}
#recentnewsbox{
width:1000px;
height:800px;
float:left;
}
#recentnews{
width:990px;
height:30px;
font-weight:bold;
color:#dfac3f;
text-align:center;
font-size:30px;
padding-bottom:10px;
}

#imgbox2{
width:1000px;
height:900px;
}

#ba{
width:300px;
height:300px;
float:left;
margin-left:20px;
}
#imgd{
width:300px;
height:200px;
background:url(image/im33.png);
}

#imgd:hover{background:#33c617;
opacity:0.2}
#imgdcontent{
width:300px;
height:195px;
}
#imglinconpark{
width:300px;
height:35px;
}
#contentd{
width:260px;
height:125px;
padding:20px;
}

#bc{
width:300px;
height:300px;
float:left;
margin-left:20px;
}
#imge{
width:300px;
height:200px;
background:url(image/im34.png);
}
#imge:hover{background:#33c617;
opacity:0.2}
#imgecontent{
width:300px;
height:195px;
}

#imgaletteron{
width:300px;
height:35px;
}
#contente{
width:260px;
height:125px;
padding:20px;
}

#bd{
width:300px;
height:300px;
float:left;
margin-left:20px;
}
#imgf{
width:300px;
height:200px;
background:url(image/im35.png);
}
#imgf:hover{background:#33c617;
opacity:0.2}
#imgfcontent{
width:300px;
height:195px;
}

#imgraisingvoice{
width:300px;
height:35px;
}
#contentf{
width:260px;
height:125px;
padding:20px;
}

#be{
width:300px;
height:300px;
float:left;
margin:20px;
margin-top:80px;
}

#imgh{
width:300px;
height:200px;
background:url(image/im36.png);
}
#imgh:hover{background:#33c617;
opacity:0.2}
#imghcontent{
width:300px;
height:195px;
}

#postfrom{
width:300px;
height:35px;
}
#contenth{
width:260px;
height:125px;
padding:20px;
}

#bf{
width:300px;
height:300px;
float:left;
margin-top:80px;

}

#imgi{
width:300px;
height:200px;
background:url(image/im37.png);
}
#imgi:hover{background:#33c617;
opacity:0.2}
#imgicontent{
width:300px;
height:195px;
}


#nature{
width:300px;
height:35px;
}

#contenti{
width:260px;
height:125px;
padding:20px;
}

#bg{
width:300px;
height:300px;
float:left;
margin:20px;
margin-top:80px;
}

#imgj{
width:300px;
height:200px;
background:url(image/im38.png);
}
#imgj:hover{background:#33c617;
opacity:0.2}
#imgjcontent{
width:300px;
height:195px;
}

#teamup{
width:300px;
height:35px;
}

#contentj{
width:260px;
height:125px;
padding:20px;
}

#footer{
width:1000px;
height:500px;
background:#14bc8b;
float:left;
float:left;
}

#footerbox{
width:1000px;
height:465px;
float:left;
}	
#contentk{
width:250px;
height:465px;
float:left;
color:white;
}		
#contentl{
width:210px;
height:325px;
float:left;
font-weight:bold;
font-size:25px;
padding:20px;
color:white;
}		
#contentm{
width:210px;
height:325px;
float:left;
font-weight:bold;
font-size:20px;
padding:20px;
color:white;
}		
#contentn{
width:210px;
height:325px;
float:left;
font-weight:bold;
font-size:20px;
padding:20px;
color:white;
}	
#allcontent{
width:980px;
height:15px;
float:left;
font-weight:bold;
font-size:20px;
padding:10px;
color:white;
}	

#socialmedia{
width:230px;
height:100px;
float:left;
margin-top:90px;
}						

#facebook{
width:56px;
height:56px;
float:left;
background:url(image/im48.png);
margin-top:25px;
}
#twitter{
width:56px;
height:56px;
float:left;
background:pink;
background:url(image/im46.png);
margin-top:25px;
}		
#pininterest{
width:56px;
height:56px;
float:left;
background:pink;
background:url(image/im44.png);
margin-top:25px;
}		
#youtube{
width:56px;
height:56px;
float:left;
background:pink;
background:url(image/im45.png);
margin-top:25px;
}				