<html>
<head> <title>
science
</title> 
<link href="page1.css" rel="stylesheet" type="text/css"/>
 

</head>
<body>
<div id="box1"> 
<a href="index.html"><div id="logobox1"> <img id="logo1" src="image/logo1.png" width="200" /> </div> </a>
<div id="contentbox"> 
<div id="contentbox1"> 
<div id="aboutzoo"> About the zoo </div>
<div id="guideforguest"> Guide for Guests </div>
<div id="shop"> Shop </div>
<div id="contact"> Contact </div>
<div id="donate"> Donate Now </div>
<div id="search"> Search </div>
</div>

<div id="contentbox2"> OPEN 365 DAYS A YEAR & FREE  LOCATION, HOURS & DIRECTIONS </div>

<div id="contentbox3">
<div id="planyourvisit">  <a href="page4.html" id="link">  PLAN YOUR VISIT </div> </a>
<div id="animals">   <a href="page2.html" id="link" >  ANIMALS </div> </a>   
<div id="education"> <a href="page3.html" id="link">   EDUCATION </div> </a>   
<div id="conservation"> <a href="page1.html" id="link">  CONSERVATION & SCIENCE </div> </a> 
</div>
</div>
</div>

<div id="box2"> 
<div id="animalbox"> 
<div id="lista">
<div id="focus"> Focuses </div>
<div id="science"> Science Centers </div>
<div id="pro"> Projects </div>
<div id="res"> Resources </div>
<div id="staff"> Staff Bios </div>
</div>

</div>

<br/>
<br/>
<br/>
<form id="form1" name="form1" method="POST" action="save.php" >
<table width="288" border="1">
  <tr>
    <td width="100">Title </td>
    <td width="172">
	
	<input type="radio"  name="t" value='Mr' id="txt_title" />Mr.
	<input type="radio" value='Mrs'  name="t" id="txt_title" />Mrs.
    <input type="radio" value='Miss' name="t" id="txt_title" />Miss.</td>
  </tr>
  <tr>
    <td>First Name</td>
    <td><input type="text" name="fn" id="txt_fname" /></td>
  </tr>
  <tr>
    <td>Last Name</td>
    <td><input type="text" name="ln" id="txt_lname" /></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><input type="text" name="email" id="txt_email" /></td>
  </tr>
  <tr>
    <td>Contact No</td>
    <td><input type="text" name="con" id="txt_con" /></td>
  </tr>
  <tr>
    <td>City</td>
    <td><select name="city"><option value='Galle'>Galle</option><option value='Kandy'>Kandy</option><option value='Matara'>Matara</option></select></td>
  </tr>
  <tr>
    <td>Age</td>
    <td><input type="text" name="age" id="txt_age" /></td>
  </tr>
</table>
<input name="btn_submit" type="submit" value="submit" />
<input name="btn_reset" type="reset" value="cancel" />
</form>

<br/>
<br/>
<br/>

<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<section id="wrapper">
  <div class="box">
    <div class="row">
      <div class="col-6">
        <div class="comment">
      <p v-for="items in item" v-text="items"></p>
        </div>
        </div>
        </div>
    <div class="row">
      <div class="col-6">
    <textarea type="text" class="input" placeholder="Your Comment Here" v-model="newItem" @keyup.enter="addItem()"></textarea>
        <button v-on:click="addItem()" class='btn-box' type="submit">Your Comment</button>
      </div>
    </div>
  </div>
</section>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script>
            $(document).ready(function(){ 
     
        $(".btn-box").on('click', function(){
        $(".comment").addClass("afterText");
      });
      $("textarea").on('keyup.enter', function(){
        $(".comment").addClass("afterText");
      });
      });
     
    new Vue({
        el: "#wrapper",
        data:{
          newItem: '',
          item: [],
        },
        methods:{
          addItem  (){
          this.item.push(this.newItem);
            this.newItem = "";
          }
      }
     
      });
    </script>



<br/>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>

<br/>
<br/>


<div class="col-md-6 border-right-no-mobile">
<form method="post" action="/member/login" class="order-page-13">
<input name="__RequestVerificationToken" type="hidden" value="K3a7jVWOpbeD4_PpHG9YewPVeNI4oyCsMy3ykvS_OxEFRINztB8FrXwPKKPGHHPP-4f4xmaitVdkhJ5C3vsRdz_F7c9tI20lk5irz6R6V0Y1">
<div>
<div class="row margin-bottom-20px">
<div class="col-md-12 margin-bottom-10px order-page-14">
<h5>Username *</h5>
<input placeholder="Mobile (Ex: 777123456) / Email *" type="text" class="width-100perc font-size-14px data-telephone data-email" name="Username" autocomplete="off" required="">
</div>
<div class="col-md-12 margin-bottom-10px">
<h5>Password *</h5>
<input placeholder="Password *" type="password" class="width-100perc font-size-14px" name="Password" autocomplete="off" required="">
</div>

<div class="col-md-12 margin-bottom-10px other-pages-checkboxes order-page-15">
<label class="checkbox-container">
Remember me
<input type="checkbox" name="RememberMe" value="1" id="data-agreed">
<span class="checkmark"></span>
</label>
</div>

<div class="col-md-12 margin-bottom-10px margin-top-20px">
<button class="btn-green-round btn-pizzhut-login font-size-16px"> <span class="icon-user-unfollow"></span> Log in with Lincoln Park Zoo</button>
</div>
                                                    
</div>
</div>
</form>
</div>

<br/>
<br/>
<br/>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="footer"> 
<div id="footerbox"> 
<div id="contentk"> <img id="logo1" src="image/logo1.png" width="200"/> </div>
<div id="contentl">
  
Support 
<br/>
Privacy Policy
<br/>
Location & Directions
<br/>
Press Room
<br/>
Contact Us
<br/>
 </div>
<div id="contentm"> Plan A Private Event  
Volunteer  
Careers
</div>
<div id="contentn">Sign Up for ZooMail Weekly 
<div id="socialmedia">
<div id="facebook"> </div>
<div id="twitter"> </div>
<div id="pininterest"> </div>
<div id="youtube"> </div>

</div>

</div>

</div>

<div id="allcontent"> All Content © Lincoln Park Zoo.
 2001 North Clark Street • Chicago, IL 60614 • 312-742-2000 
 </div>
 </div>

</div>

</body>
</html>