*{margin:0;
padding:0;
}

#box1{
width:1000px;
height:100px;
position:fixed;
margin-left:200px;
z-index:1;
background:#79face;
}

#box2{
width:1000px;
height:2000px;
margin-left:200px;	
}

#logobox1{
width:300px;
height:100px;
float:left;		
}
#logo1{
margin-left:40px;
}
#contentbox{
width:700px;
height:100px;
float:left;	
}
#contentbox1{
width:700px;
height:30px;
float:left;	
}
#aboutzoo{
width:115px;
height:30px;
float:left;
text-align:center;		
}
#guideforguest{
width:115px;
height:30px;
float:left;	
text-align:center;	
}
#shop{
width:115px;
height:30px;
float:left;
text-align:center;		
}
#contact{
width:115px;
height:30px;
float:left;
text-align:center;		
}
#donate{
width:115px;
height:30px;
float:left;
text-align:center;		
}
#search{
width:115px;
height:30px;
float:left;
text-align:center;		
}
#contentbox2{
width:700px;
height:30px;
float:left;	
text-align:center;	
}
#contentbox3{
width:700px;
height:30px;
float:left;		
}

#link{
	text-decoration:none;
}

#link:hover{
	color:#33c617;
}

#planyourvisit{
width:175px;
height:30px;
float:left;
text-align:center;		
}
#animals{
width:175px;
height:30px;
float:left;	
text-align:center;	
}
#education{
width:175px;
height:30px;
float:left;
text-align:center;		
}
#conservation{
width:175px;
height:30px;
text-align:center;
float:left;}

#planyourvisittoworld{
width:1000px;
height:400px;
position:absolute;
top:200px;
}
#lista{
width:100px;
height:300px;
background:#14bc8b;
float:left;}

#location{
width:100px;
height:42px;
float:left;
font-size:15px;
font-weight:bold;
color:white;
text-align:center;		
}
#location:hover{background:#3cf145;}
#zoomap{
width:100px;
height:42px;
float:left;	
font-size:15px;
font-weight:bold;
color:white;
text-align:center;	
}
#zoomap:hover{background:#3cf145;}
#dining{
width:100px;
height:42px;
float:left;
font-size:15px;
font-weight:bold;
color:white;
text-align:center;		
}
#dining:hover{background:#3cf145;}
#shopping{
width:100px;
height:42px;
float:left;
font-size:15px;
font-weight:bold;
color:white;
text-align:center;		
}
#shopping:hover{background:#3cf145;}
#experience{
width:100px;
height:42px;
float:left;
font-size:15px;
font-weight:bold;
color:white;
text-align:center;		
}
#experience:hover{background:#3cf145;}
#faq{
width:100px;
height:42px;
float:left;
font-size:15px;
font-weight:bold;
color:white;
text-align:center;		
}
#faq:hover{background:#3cf145;}
#access{
width:100px;
height:42px;
float:left;
font-size:15px;
font-weight:bold;
color:white;
text-align:center;		
}
#access:hover{background:#3cf145;}
#contenta{
width:660px;
height:360px;
float:left;
font-size:20px;
font-weight:bold;
padding:20px;		
}
#map{
width:200px;
height:400px;
float:left;		
}

#information{
width:640px;
height:240px;
float:left;
margin-left:100px;
position:absolute;
top:600px;
padding:30px;		
}

#list{
margin-left:30px;	
}
#line{
position:absolute;
top:950px;		
}

#more{
position:absolute;
top:1000px;
width:1000px;
height:100px;
float:left;		
}

#atm{
width:1000px;
height:30px;
float:left;		
}

#zoofaqs{
width:1000px;
height:30px;
float:left;		
}

#imgb{
width:200px;
height:40px;
float:left;		
}

#contentb{
width:800px;
height:40px;
float:left;		
}


#imgbox1{
width:1000px;
height:600px;
float:left;
position:absolute;
top:1000px;		
}

#imgbox2{
width:1000px;
height:600px;
float:left;
position:absolute;
top:1700px;		
}

#imgbox3{
width:1000px;
height:600px;
float:left;
position:absolute;
top:2400px;		
}

#penguin{
width:1000px;
height:30px;
float:left;
font-size:25px;
font-weight:bold;
text-align:center;		
}

#imgc{
width:700px;
height:570px;
float:left;
background:url(image/im22.png);		
}

#contentc{
width:260px;
height:530px;
float:left;
text-align:justify;
padding:20px;			
}

#dailyactivity{
width:1000px;
height:30px;
float:left;
font-size:25px;
font-weight:bold;
text-align:center;		
}

#imgd{
width:700px;
height:570px;
float:left;
background:url(image/im23.png);			
}
#contentd{
width:260px;
height:530px;
float:left;	
padding:20px;		
}

#planfieldtrip{
width:1000px;
height:30px;
float:left;
font-size:25px;
font-weight:bold;
text-align:center;		
}

#imge{
width:700px;
height:570px;
float:left;	
background:url(image/im24.png);		
}

#contente{
width:260px;
height:530px;
float:left;	
padding:20px;	
}

#footer{
width:1000px;
height:500px;
background:#14bc8b;
float:left;
position:absolute;
top:3100px;
}

#footerbox{
width:1000px;
height:465px;
float:left;
}	
#contento{
width:250px;
height:465px;
float:left;
color:white;
}		
#contentp{
width:210px;
height:325px;
float:left;
font-weight:bold;
font-size:25px;
padding:20px;
color:white;
}		
#contentq{
width:210px;
height:325px;
float:left;
font-weight:bold;
font-size:20px;
padding:20px;
color:white;
}		
#contentr{
width:210px;
height:325px;
float:left;
font-weight:bold;
font-size:20px;
padding:20px;
color:white;
}	
#allcontent{
width:980px;
height:15px;
float:left;
font-weight:bold;
font-size:20px;
padding:10px;
color:white;
}	

#socialmedia{
width:230px;
height:100px;
float:left;
margin-top:90px;
}						

#facebook{
width:56px;
height:56px;
float:left;
background:url(image/im48.png);
margin-top:25px;
}
#twitter{
width:56px;
height:56px;
float:left;
background:pink;
background:url(image/im46.png);
margin-top:25px;
}		
#pininterest{
width:56px;
height:56px;
float:left;
background:pink;
background:url(image/im44.png);
margin-top:25px;
}		
#youtube{
width:56px;
height:56px;
float:left;
background:pink;
background:url(image/im45.png);
margin-top:25px;
}						